.spaceIn-200{
    /* For Empty Spaces Of 200px*/
    width: 100%;
    height: 200px;
}

.spaceIn-100{
    /* For Empty Spaces Of 100px*/
    width: 100%;
    height: 100px;
}

.spaceIn-50{
    /* For Empty Spaces Of 50px */
    width: 100%;
    height: 50px;
}
.spaceIn-75{
    width: 100%;
    height: 75%;
}

.spaceHorizontal-1{
    width: 100%;
    height: 1%;
}
.asap-red{
    background: red;
}