.spaceIn-200{
    /* For Empty Spaces Of 200px*/
    width: 100%;
    height: 200px;
}

.spaceIn-100{
    /* For Empty Spaces Of 100px*/
    width: 100%;
    height: 100px;
}

.spaceIn-50{
    /* For Empty Spaces Of 50px */
    width: 100%;
    height: 50px;
}
.spaceIn-75{
    width: 100%;
    height: 75%;
}

.spaceHorizontal-1{
    width: 100%;
    height: 1%;
}
.glassy{
    width:80%;
    height: 80%;
    margin: auto;
    background: linear-gradient(to right,rgba(255,255,255,0.8),rgba(255,255,255,0.6),rgba(255,255,255,0.4));
    border-radius: 25px;
    padding: 15px 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }