*{
    margin: 0px;
}
.PlaylistDescription{
    width: 100%;
    height: 100%;
}
.PlaylistDescription td{
    width: 50%;
    height: 400px;
    padding: 2.5%;
    
}
.PlaylistDescription tr{
    background: linear-gradient(to right,#ffaacc,#f6cc88);
}
.description{
    width: 80%;
    height: 80%;
    background: linear-gradient(to right,rgba(255,255,255,0.6),rgba(255,255,255,0.4),rgba(255,255,255,0.2));
    margin: auto;
    border: 1px solid black;
    border-left: 15px solid black;
    text-align: center;
    font-size: 24px;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 4px 4px 4px #000;
    padding-top: 20px;
    z-index: 1;
}
.description:hover{
    width: 85%;
    height: 85%;
    font-size: 28px;
    transition: 0.5s;
}

.description ul{
    text-align: left;
}

.forYoutubeIframe{
    border-radius: 25px 25px 0px 0px;
    border: 2px solid black;
    border-bottom: 15px solid black;
}
.cir{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: auto;
}
.wholeContent{
    margin-top: 50px;
    margin-left: 182px;
}



/*Sidebar*/
.sideBar{
    width: 182px;
    height:100%;
    background:rgba(255,255,255,0.4);
    position: fixed;
}
.sideBar li {
    display: block;
    color: #000;
    background-color: cornsilk;
    font-size: 28px;
    padding: 12px;
    border-bottom: #000 solid 1px;
    margin-top: 2px;
    box-shadow: #000 2px 2px 5px;
    height: 20%;
    text-align: center;
  }
.sideBar a{
    text-decoration: none;
    color: #000;
}
.sideBar ul{
    margin: 0px;
    padding: 0px;
}
.sideBar li:hover{
    background: gray;
    color: black;
}
.active li{
    background-color: #000;
    color: #fff;
}
.active li:hover{
    background-color: #000;
    color: #fff;
}

/*Sidebar*/